.App {
  text-align: center;
  align-items: center;
}

.app__form {
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9eb;
  width: 90%;
  margin: 20px 50px;
  border-radius: 36px !important;
}
.app_formControl {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
}
.app__iconButton {
  width: 7%;
}
.app__input {
  margin-left: 30px;
  width: 80%;
}
button > span > svg {
  margin-left: 80px;
  filter: brightness(40%);
  color: blue;
}
.App img {
  width: 6rem;
}
.App h1,
h2 {
  color: white;
}
